body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 67.5%;
}


/* NAV */

nav {
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(to right bottom, rgb(93, 12, 20), rgb(58, 58, 170));
    box-shadow: rgba(37, 34, 34, 0.2) 2px 2px 4px;
}

nav:hover {
    box-shadow: rgba(37, 34, 34, 0.76) 4px 4px 8px;
    transition: all ease-in 0.4s;
    -webkit-transition: all ease-in 0.4s;
    -moz-transition: all ease-in 0.4s;
    -ms-transition: all ease-in 0.4s;
    -o-transition: all ease-in 0.4s;
    filter: hue-rotate(-10deg);
    -webkit-filter: hue-rotate(-10deg);
}

nav a {
    color: #eee;
    text-decoration: none;
}

nav a:hover {
    backface-visibility: hidden;
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    -webkit-backface-visibility: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 2em;
    margin: 0;
}

.push {
    margin-left: auto;
}

.main-nav li {
    padding: 0.6rem;
}

.main-nav li:last-child {
    margin-right: 2rem;
}


/* heading */

.header {
    margin-top: 2.7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 2px;
    border-style: hidden;
    text-align: center;
    background: linear-gradient(to left bottom, rgba(28, 121, 522, 0.75), rgba(526, 655, 222, 0.45)), url('../img/wallpaper21.jpg');
    box-shadow: rgba(37, 34, 34, 0.9) 4px 4px 8px;
    border: 0px #bbb;
    transition: ease-in 0.5s;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-transition: ease-in 0.5s;
    -moz-transition: ease-in 0.5s;
    -ms-transition: ease-in 0.5s;
    -o-transition: ease-in 0.5s;
}

.header:hover {
    filter: hue-rotate(90deg) saturate(0.4) opacity(1.9);
    -webkit-filter: hue-rotate(90deg) saturate(0.4) opacity(1.9);
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#Hello {
    font-size: 3.5rem;
    text-shadow: rgba(29, 27, 27, 0.409) 4.5px 2.5px 6px;
    filter: hue-rotate(-80deg);
    -webkit-filter: hue-rotate(-80deg);
}